<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="OpenDevis">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="ayDK3rWNHE9R_d4agAi0vVi4us9Kmoihi-avVeRBGZk" />

    <%# Open Graph %>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="OpenDevis">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:title" content="<%= page_title %>">
    <meta property="og:description" content="<%= page_description %>">
    <meta property="og:url" content="<%= canonical_url %>">

    <%# Twitter Card %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= page_title %>">
    <meta name="twitter:description" content="<%= page_description %>">

    <%# Canonical %>
    <link rel="canonical" href="<%= canonical_url %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <style><%= render "shared/od_styles" %></style>
    <%= yield :head %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
